* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: hsl(225, 100%, 94%);
}

main {
  border-radius: 1rem;
  width: 416px;

  text-align: center;

  background: #fff;
}

main .img-hero {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2rem 2rem;
}

section .card-title {
  font-size: 25px;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin-bottom: 1rem;
}

section .card-text {
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.card-informations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  background: hsl(225, 100%, 98%);
  border-radius: 0.8rem;

  padding: 1rem;

  margin: 1.5rem 0;
}

.card-informations a,
a:visited,
a:active {
  font-weight: 700;
  color: hsl(245, 75%, 52%);
  transition: all 0.3s;
}

.card-informations a:hover {
  text-decoration: none;
  color: hsl(223, 47%, 23%);
}

.card-resume-item {
  display: flex;
  align-items: center;
}

.item-img {
  width: 48px;
  border: 1px hsl(223, 47%, 23%);
}
.card-resume-item-description {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.card-resume-item-description h5 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.card-resume-item-description p {
  color: hsl(224, 23%, 55%);
  font-weight: 600;
}

.btn-confirm {
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  background: hsl(245, 75%, 52%);
  color: #fff;
  font-weight: 900;
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;
  transition: background 0.3s;
}

.btn-confirm:hover {
  background: hsl(223, 47%, 23%);
}

.btn-cancel,
.btn-cancel:visited,
.btn-cancel:active {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-cancel:hover {
  color: hsl(223, 47%, 23%);
}
